@using Microsoft.AspNetCore.Identity
@using Project.AppData

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@* <ul class="navbar-nav"> *@
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-white" asp-area="" asp-action="Index" asp-controller="User" title="Manage">Hi @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="" asp-action="Logout" asp-controller="User" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-white  mx-1">Logout</button>
        </form>
    </li>
}
else
{
    @*
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="" asp-action="Register" app-controller="User">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="" asp-action="Login" app-controller="User">Login</a>
    </li>
    *@
    <a asp-area="" asp-action="Register" asp-controller="User" id="register" class="btn btn-link text-white mx-1">Register</a>
    <a asp-area="" asp-action="Login" asp-controller="User" id="login" class="btn btn-link text-white  mx-1">Login</a>

}
@* </ul> *@
