@model List<Project.Models.Product>

<div class="row product-lists">

	@foreach (Product product in Model)
	{

		<div class="col-lg-4 col-md-6 text-center">
			<div class="single-product-item">
				<div class="product-image">
					<a asp-action="Detail" asp-controller="Product" asp-route-id="@product.Id"><img src="~/assets/img/products/@product.Image" alt=""></a>
				</div>
				<h3>@product.Name</h3>
				<p class="product-price"><span>Per Kg</span> @product.Price$ </p>
				<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
			</div>
		</div>

	}

</div>