@model List<Project.Models.Category>;

<li>
	<a asp-controller="Home" asp-action="Index">Categories</a>
	<ul class="sub-menu">
		@foreach (var cate in Model)
		{
			<li><a asp-controller="Product" asp-action="listpro" asp-route-id="@cate.Id" >@cate.Name</a></li>
		}
		
		
	</ul>
</li>